* {
    margin: 0;
    padding: 0;
}
* {
 box-sizing: border-box;
}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.images {
    position: relative;
    display: flex;
    transition: all 0.5s;
}
.images > img {
    width: 100%;
    transition: all 0.3s;
    
}
#buttonWrapper > button {
    width: 50px;
    height: 40px;
    border-radius: 10px;
    margin: 0 20px;
}
#buttonWrapper > button > svg {
    width: 40px;
    height: 30px;;
}
#controls #previous > svg {
  width: 30px;
  height: 20px;
}
#controls #next > svg {
    width: 30px;
    height: 20px;
  }
  #controls > button {
      border-radius: 10px;
      margin: 5px 20px 20px;
  }