* {
    margin: 0;
    padding: 0;
}
* {
 box-sizing: border-box;
}
.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
}
.images {
    position: relative;
    display: flex;
    transition: all 1s;
}
.images > img {
    width: 100%;
    transition: all 0.3s;
    
}
#buttonWrapper > button {
    width: 60px;
    height: 45px;
    border-radius: 10px;
    margin: 0 20px;
}
#buttonWrapper > button > svg {
    width: 40px;
    height: 30px;;
}
#controls #previous > svg {
  width: 30px;
  height: 20px;
}
#controls #next > svg {
    width: 30px;
    height: 20px;
  }
  #controls > button {
      border-radius: 10px;
      margin: 5px 20px 20px;
  }
  .special{
   background-image: url(./8.png);
   background-color: bisque;
}
h1{
    text-align: center;
    margin: 50px 0;
    color: blanchedalmond;
    position: relative;
}
body{
    background: #000;
}
nav > img {
    
    background: #000;
    margin-left: 55%;
    margin-right: 40%;
    position: absolute;
    top: -10px;
    left: 30px;
}
  